@charset "utf-8";

.inner{
  width: 1100px;
  background-color: #fff;
  margin: 0 auto;
}

.nav_container{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.nav_archway{
  margin: 5px 0;
}

.btn_contact{
  color: #fff;
  background-color: #689cc5;
  font-size: 16px;
  margin: 1em 1em;
}

.keyvisual{
  position: relative;
}

.keyvisual_Img{
  background-image: url("../img/keyvisual/keyvisual.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1100px 935px;
  height: 935px;
}

.keyvisual_Textbox{
  text-align: center;
}

.keyvisual_title{
  padding-top: 400px;
  font-size: 65px;
  font-weight: 400;
  color: #90A6DF;
}

.keyvisual_subtitle{
  font-size: 40px;
  font-weight: 100;
  color: #fff;
  padding-top: 30px;
}

.work{
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  background-color: #e2eff8;
}

.work_pc{
  background-image: url("../img/pc/pc.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 250px;
  width: 40%;
}

.work_Textbox{
  text-align: center;
  width: 60%;
}

.work_title{
  padding-top: 20px;
  font-size: 60px;
  letter-spacing: 10px;
}

.work_text{
  padding: 35px 0px;
  font-size: 16px;
}

.skills{
  position: relative;
  /* display: flex; */
  margin: 0 auto;
  height: auto;
}

.skills_Textbox{
  text-align: center;
}

.skills_title{
  padding-top: 50px;
  font-size: 60px;
  letter-spacing: 10px;
}

.skills_itembox{
  display: grid;
  grid-template-columns: 300px, 300px, 300px;
  grid-template-rows: 300px, 300px;
  gap: 100px 100px;
  margin-top: 50px;
  height: auto;
  padding: 50px 0px;
  /* justify-content: center; */
}

.skills_item01{
  background-image: url("../img/skills/skills_1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 300px;
  width: 300px;
}

.skills_item02{
  background-image: url("../img/skills/skills_2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 300px;
  width: 300px;
}

.skills_item03{
  background-image: url("../img/skills/skills_3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 300px;
  width: 300px;
}

.skills_item04{
  background-image: url("../img/skills/skills_4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 300px;
  width: 300px;
}

.skills_item05{
  background-image: url("../img/skills/skills_5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 300px;
  width: 300px;
}

.skills_item06{
  background-image: url("../img/skills/skills_6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 300px;
  width: 300px;
} 

.plan{
  position: relative;
  background-color: #cfdde6;
}

.plan_Textbox{
  text-align: center;
}

.plan_title{
  padding: 50px 0px;
  font-size: 60px;
  letter-spacing: 10px;
}

.plan_table{
  width: 90%;
  margin: auto;
  padding-bottom: 50px;
  table-layout: fixed;
  font-size: 16px;
}

.plan_table th{
  background-color: #2756cc;
  padding: 5px;
  border: 1px solid #000;
  line-height: 26px;
}

.plan_table td{
  padding: 5px;
  text-align: center;
  border: 1px solid #000;
  line-height: 22px;
}

.plan_table tr{
  background-color: #fff;
}