@charset "utf-8";
/* ★★★★共通部分★★★★ */
.inner{
  width: 1100px;
  background-color: #fff;
  margin: 0 auto;
}

/* ★★★★共通部分レスポンシブ対応（TAB,SP）★★★★ */
@media screen and (min-width:1101px) and (max-width:1199px){
  .inner{
    width: 97%;
  }
}

@media screen and (max-width:767px) {
  .inner{
    width: 97%;
  }
}

a{
  text-decoration: none;
}

/* ★★★★nav部分★★★★ */
.nav_container{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.nav_archway{
  padding: 5px 0;
}

.btn_contact{
  background-color: #689cc5;
  font-size: 16px;
  margin: 1em 1em;
  cursor: pointer;
}

.btn_contact a:visited{
  color: #fff;
}

.btn_contact a:hover{
  color: #333;
  transition: 0.3s;
}

/* ★★★★nav部分レスポンシブ対応（SP）ハンバーガーメニュー★★★★ */
@media screen and (max-width:767px) {
  .btn_contact{
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    font-size: 0px;
  }

  .btn_contact a, .btn_contact a::before, .btn_contact a::after{
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
  }

  .btn_contact a::before{
    top: 8px;
  }

  .btn_contact a::after{
    bottom: 8px;
  }
}


/* ★★★★keyvisual部分★★★★ */
.keyvisual{
  position: relative;
}

.keyvisual_Img{
  background-image: url("../img/keyvisual/keyvisual.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 935px;
  height: 935px;
}

.keyvisual_Textbox{
  text-align: center;
}

.keyvisual_title{
  padding-top: 400px;
  font-size: 65px;
  font-weight: 400;
  color: #90A6DF;
}

.keyvisual_subtitle{
  font-size: 40px;
  font-weight: 100;
  color: #fff;
  padding-top: 30px;
}

/* ★★★★keyvisual部分レスポンシブ対応（SP）★★★★ */
@media screen and (max-width:767px) {
  .keyvisual{
    width: 100%;
  }

  .keyvisual_Img{
    background-size: 100% 535px;
    height: 535px;
  }
  .keyvisual_title{
    font-size: 40px;
    padding-top: 200px;
  }

  .keyvisual_subtitle{
    font-size: 30px;
  }
}

/* ★★★★work部分★★★★ */
.work{
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  background-color: #e2eff8;
  padding-top: 50px;
}

.work_pc{
  background-image: url("../img/pc/pc.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 250px;
  width: 40%;
}

.work_Textbox{
  text-align: center;
  width: 60%;
  padding: 0px 30px;
}

.work_title{
  padding-top: 20px;
  font-size: 60px;
  letter-spacing: 10px;
}

.work_text{
  padding: 35px 0px;
  font-size: 16px;
}

/* ★★★★work部分レスポンシブ対応（TAB）★★★★ */
@media screen and (min-width:1101px) and (max-width:1199px){
  .work{
    display: block;
  }

  .work_pc{
    margin: 0 auto;
    width: 100%;
  }

  .work_Textbox{
    margin: 0 auto;
    width: 100%;
    padding: 0px;
  }
}

/* ★★★★work部分レスポンシブ対応（SP）★★★★ */
@media screen and (max-width:767px){
  .work{
    display: block;
    width: 100%;
  }

  .work_pc{
    margin: 0 auto;
    width: 100%;
  }

  .work_Textbox{
    margin: 0 auto;
    width: 100%;
    padding: 0px;
  }
}

/* ★★★★skills部分★★★★ */
.skills{
  position: relative;
  margin: 0 auto;
  height: auto;
}

.skills_Textbox{
  text-align: center;
}

.skills_title{
  padding-top: 50px;
  font-size: 60px;
  letter-spacing: 10px;
}

.skills_itembox{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding: 50px 0px;
  gap: 100px 100px;
}

.skills_item01{
  background-image: url("../img/skills/skills_1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 300px;
  width: 300px;
}

.skills_item02{
  background-image: url("../img/skills/skills_2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 300px;
  width: 300px;
}

.skills_item03{
  background-image: url("../img/skills/skills_3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 300px;
  width: 300px;
}

.skills_item04{
  background-image: url("../img/skills/skills_4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 300px;
  width: 300px;
}

.skills_item05{
  background-image: url("../img/skills/skills_5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 300px;
  width: 300px;
}

.skills_item06{
  background-image: url("../img/skills/skills_6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 300px;
  width: 300px;
}
/*↓↓↓↓　gridで実装した場合　↓↓↓↓
 .skills_itembox{
  display: grid;
  grid-template-columns: 300px, 300px, 300px;
  grid-template-rows: 300px, 300px;
  gap: 100px 100px;
  margin-top: 50px;
  height: auto;
  padding: 50px 0px;
}

.skills_item01{
  background-image: url("../img/skills/skills_1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 300px;
  width: 300px;
}

.skills_item02{
  background-image: url("../img/skills/skills_2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 300px;
  width: 300px;
}

.skills_item03{
  background-image: url("../img/skills/skills_3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 300px;
  width: 300px;
}

.skills_item04{
  background-image: url("../img/skills/skills_4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 300px;
  width: 300px;
}

.skills_item05{
  background-image: url("../img/skills/skills_5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 300px;
  width: 300px;
}

.skills_item06{
  background-image: url("../img/skills/skills_6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 300px;
  width: 300px;
}  */

.hover_skills{
  opacity: 0.7;
}

.hover_skills:hover{
  opacity: 1.0;
}

/* ★★★★skills部分レスポンシブ対応（TAB,SP）★★★★ */
@media screen and (min-width:1101px) and (max-width:1199px){
  .skills_itembox{
    display: block;
    height: auto;
    padding: 50px 0px;
  }
  .skills_itembox a{
    display: block;
    margin: 0 auto;
  }
  
  .skills_itembox a:nth-child(3n){
    margin-bottom: 80px;
  }

  .skills_itembox a:last-child{
    margin-bottom: 0px;
  }
}

@media screen and (max-width:767px){
  .skills_itembox{
    display: block;
    height: auto;
    padding: 50px 0px;
  }
  .skills_itembox a{
    display: block;
    margin: 0 auto;
  }
  
  .skills_itembox a:nth-child(3n){
    margin-bottom: 80px;
  }

  .skills_itembox a:last-child{
    margin-bottom: 0px;
  }
}

/* ★★★★plan部分★★★★*/
.plan{
  position: relative;
  background-color: #cfdde6;
  padding-bottom: 50px;
}

.plan_Textbox{
  text-align: center;
}

.plan_title{
  padding: 50px 0px;
  font-size: 60px;
  letter-spacing: 10px;
}

.plan_table{
  width: 90%;
  margin: auto;
  padding-bottom: 50px;
  table-layout: fixed;
  font-size: 16px;
}

.plan_table th{
  background-color: #2756cc;
  padding: 5px;
  border: 1px solid #2756cc;
  line-height: 26px;
}

.plan_table td{
  padding: 5px;
  text-align: center;
  border: 1px solid #fff;
  line-height: 22px;
}

.plan_table tr{
  background-color: #fff;
}

.plan_table tr:nth-child(even){
  background-color: #deebf8;
}

/* ★★★★plan部分レスポンシブ対応（SP）★★★★ */
@media screen and (max-width:767px){
  .plan{
    width: 100%;
  }

  .plan_table th{
    line-height: 22px;
    font-size: 14px;
  }

  .plan_table td{
    font-size: 12px;
  }
}

/* ★★★★sns部分★★★★ */
.sns{
  position: relative;
  background-color: #e2eff8;
  padding: 200px 0px;
}

.sns_link{
  display: flex;
  justify-content: space-around;
  padding: 25px 0px;
  text-align: center;
}

.sns_link li{
  display: inline-block;
  width: 185px;
  font-size: 40px;
}

.hover_sns{
  color: #7a7f80;
  transition: 0.5s;
}

.hover_sns:hover{
  color: #fff;
}

/* ★★★★sns部分レスポンシブ対応（SP）★★★★ */
@media screen and (max-width:767px){
  .sns{
    position: relative;
    background-color: #e2eff8;
    width: 100%;
    padding: 50px 0px;
  }
  .sns_link{
    display: block;
    padding: 0px 5px;
  }

  .sns_link li{
    display: block;
    font-size: 40px;
    margin: 0 auto;
    padding: 50px 120px;
  }
}


/* ★★★★footer部分★★★★ */
.footer{
  background-color: #cdd6dc;
  position: relative;
  padding: 5px 0px;
}

.footer_text{
  text-align: right;
  padding-right: 40px;
}