@charset "utf-8";

.inner{
  width: 1100px;
  background-color: #fff;
  margin: 0 auto;
}

.nav_container{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.nav_archway{
  margin: 5px 0;
}

.btn_contact{
  color: #fff;
  background-color: #689cc5;
  font-size: 16px;
  margin: 1em 1em;
}

.keyvisual{
  position: relative;
}

.keyvisual_Img{
  background-image: url("../img/keyvisual/keyvisual.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  height: 935px;
}

.keyvisual_Textbox{
  text-align: center;
}

.keyvisual_title{
  padding-top: 400px;
  font-size: 65px;
  font-weight: 400;
  color: #90A6DF;
}

.keyvisual_subtitle{
  font-size: 40px;
  font-weight: 100;
  color: #fff;
  padding-top: 30px;
}